
nav {
    height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin: 2px 2px;
  border-top: 3px solid #b7c7cddd;
  border-left: 3px solid #b7c7cddd;
  border-right: 3px solid #b7c7cddd;
  border-bottom: 3px solid #04b2f1;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.left_top {
  display: flex;
  gap: 20px;
}

.left_top a {
    text-decoration: none;
    color : white
}

.btn1, .btn2 {
  background: #04b2f1;
  color: white;
  padding: 10px 18px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  padding: 50px;
}

.container h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 20px;
}

.cart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 20px;
}

.card {
  background: #f3f4f6;
  padding: 25px;
  border-radius: 15px;
 
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.mini-card h3 {
  margin: 0;
  font-size: 22px;
}

.mini-card p {
  margin: 4px 0 0;
  font-size: 17px;
}

.buy .btn {
  text-decoration: none;
  background: #04b2f1;
  color: white;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

.cart-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 20px;
    margin-top: 40px;
}

.card {
    background: #f3f4f6;
    padding: 30px;
    border-radius: 12px;
}

#leftCartItems > .item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 2px solid #e46f00;
}

.item-controls {
    display: flex;
    gap: 15px;
    align-items: center;
}

.qty-box {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.qty-box button {
    padding: 8px 14px;
    border: none;
    background: white;
    cursor: pointer;
    font-size: 18px;
}

.qty-box span {
    padding: 8px 15px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.remove-btn {
    border: 2px solid #e46f00;
    padding: 5px 18px;
    border-radius: 8px;
    background: none;
    cursor: pointer;
    font-weight: 600;
}

.summary-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    font-size: 18px;
}

#rightCartItems > .summary-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 0;
}

.pay-btn {
    width: 100%;
    background: #ff7a00;
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

